.homeContainer{
    width: 100%;
    height: 91vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.left{
    width: 25%;
    height: 100%;
    overflow-y: auto;
    background-color: white;
}

.right{
    position: relative;
    width: 75%;
    height: 100%;
    overflow-y: scroll;
    background-color: #1890ff;
}

.horizontalView{
    display: none;
    overflow-x: auto;
}

@media screen and (max-width: 403px) {
    .horizontalView{
        display: flex;
    }
    .left{
        display: none;
    }
    .right{
        width: 100%;
    }
}