@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar { 
  width: 5px;
}

::-webkit-scrollbar-track {
  background: whitesmoke;
}

::-webkit-scrollbar-thumb {
  background: #1890ff;
  border-radius: 10px;
}

.poppins{
  font-family: "Poppins";
}

.font18{
  font-size: 18px;
}

.blue-border{
  border: 1px solid #1890ff;
}

.ml-10{
  margin-left: 10px;
}

.mt-10{
  margin-top: 25px;
  margin-bottom: 2px;
}
.h-100{
  height: 100vh;
}

.text-center{
  text-align: center;
}

.flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.toast-message{
  background : "#1890ff"
}

.h-90{
  height: 90vh;
}

.gradient-blue{
  background-image: linear-gradient(to bottom right, #1890ff, lightblue, white);
}

.curvyWall{
  overflow: hidden;
  position: relative;
}

.curvyWall::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background : linear-gradient(#1890ff, white);
  transform: scaleX(2) translateY(-200px);
  border-radius: 0 0 50% 50% / 0 0 100% 100%;
  overflow-x: hidden;
}

.circleit{
  padding-bottom: 3px;
  border-bottom: 2px solid #1890ff;
}

input[type="file"]::-webkit-file-upload-button {
  background-color: whitesmoke;
  color: black;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 30px;
  border: none;
}

.home-icon{
  font-size: 25px;
  margin: 0px 10px;
  transition: all 0.3s linear ease-in;
}

.uppercase{
  text-transform: uppercase;
}

.flex-col{
  display: flex;
  padding: 10px 5px;
  align-items: center;
  flex-direction: column;
}

.profile-row{
  width: 90%;
  height: max-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 2% 0;
}

.profileImage{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #1890ff;
  padding: 2px;
  margin-right: 2px;
}

a{
  text-decoration: none;
}
